.text-blue-600 {
    color: #0077F7; 
    background-color: #FFFFFF;
    border-radius: 5px; 
    padding: 10px 20px;
    border: 1px solid #0077F7; 
    cursor: pointer; 
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de la vue à 100% pour centrer verticalement */
}
