<div style="background-color: #ffffff; " >
    <div style="flex: 1;">
        <div style="background-color: #ffffff; position:absolute ">
            <img src="https://t3.ftcdn.net/jpg/00/32/82/92/360_F_32829239_f95uBxhCnFYU5TlYDjku991XFPWiFPvl.jpg" style="display: block; margin: 0 auto; max-width: 100%;" alt="Belote Game Image">
        </div>
        
    </div>
    <header style="position: absolute; top: 100; left: 10; right: 0; z-index: 50;">
        <nav style="display: flex; align-items: center; justify-content: space-between; padding: 24px;">
            <div style="display: flex;">
                <button type="button" style="margin: -20px; display: inline-flex; align-items: center; justify-content: center; border-radius: 10px; padding: 20px; color: #4a5568;">
                    <span style="display: none;">Open main menu</span>
                    <svg style="height: 24px; width: 24px; fill: none; stroke: currentColor; stroke-width: 1.5;" viewBox="0 0 24 24" aria-hidden="true">
                        <path style="stroke-linecap: round; stroke-linejoin: round;" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                    </svg>
                </button>
            </div>
            <div style="display: none;">
                <a href="#" style="text-decoration: none; font-size: 14px; font-weight: 600; line-height: 1.5; color: #4a5568;">Product</a>
                <a href="#" style="text-decoration: none; font-size: 14px; font-weight: 600; line-height: 1.5; color: #4a5568;">Features</a>
                <a href="#" style="text-decoration: none; font-size: 14px; font-weight: 600; line-height: 1.5; color: #4a5568;">Marketplace</a>
                <a href="#" style="text-decoration: none; font-size: 14px; font-weight: 600; line-height: 1.5; color: #4a5568;">Company</a>
            </div>
            <div style="display: none; justify-content: flex-end; flex: 1;">
                <a href="#" style="text-decoration: none; font-size: 14px; font-weight: 600; line-height: 1.5; color: #4a5568;">Log in &rarr;</a>
            </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div style="display: none;">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div style="position: fixed; inset: 0; z-index: 50;"></div>
            <div style="position: fixed; right: 0; z-index: 50; width: 100%; overflow-y: auto; background-color: #ffffff; padding: 24px; max-width: 320px; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); border: 1px solid rgba(55, 65, 81, 0.1);">
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <button type="button" style="margin: -20px; border-radius: 10px; padding: 20px; color: #4a5568;">
                        <span style="display: none;">Close menu</span>
                        <svg style="height: 24px; width: 24px; fill: none; stroke: currentColor; stroke-width: 1.5;" viewBox="0 0 24 24" aria-hidden="true">
                            <path style="stroke-linecap: round; stroke-linejoin: round;" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div style="margin-top: 24px;">
                    <div style="margin-top: -24px; border-bottom: 1px solid rgba(107, 114, 128, 0.1);">
                        <a href="#" style="display: block; border-radius: 8px; padding: 8px 12px; font-size: 16px; font-weight: 600; line-height: 1.75; color: #4a5568; background-color: #f9fafb;">Product</a>
                        <a href="#" style="display: block; border-radius: 8px; padding: 8px 12px; font-size: 16px; font-weight: 600; line-height: 1.75; color: #4a5568; background-color: #f9fafb;">Features</a>
                        <a href="#" style="display: block; border-radius: 8px; padding: 8px 12px; font-size: 16px; font-weight: 600; line-height: 1.75; color: #4a5568; background-color: #f9fafb;">Marketplace</a>
                        <a href="#" style="display: block; border-radius: 8px; padding: 8px 12px; font-size: 16px; font-weight: 600; line-height: 1.75; color: #4a5568; background-color: #f9fafb;">Company</a>
                    </div>
                    <div style="margin-top: 24px;">
                        <a href="#" style="display: block; border-radius: 8px; padding: 10px 12px; font-size: 16px; font-weight: 600; line-height: 1.75; color: #4a5568; background-color: #f9fafb;">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div style="position: relative; padding: 24px; padding-right: 32px;">
        <div style="position: absolute; inset: 0; top: -160px; z-index: -10; overflow: hidden; filter: blur(20px); transform: rotate(30deg);">
            <div style="position: relative; left: calc(50% - 110px); width: 290px; transform: translateX(-50%); background-image: linear-gradient(to top right, #ff80b5, #9089fc); opacity: 0.3; clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
        </div>
        <div style="margin: 0 auto; max-width: 640px; padding-top: 128px; padding-bottom: 192px;">
            <div style="text-align: center;">
                <h1 style="font-size: 2.5rem; font-weight: 700; letter-spacing: -0.025em; color: #000000; line-height: 1.25;">Belote Game</h1>
                <p style="margin-top: 24px; font-size: 1.5rem; line-height: 1.6; color: #070808;">You're about to play one of the most fabulous Games.</p>
                <div style="margin-top: 40px; display: flex; align-items: center; justify-content: center;">
                    <a href="#" style="border-radius: 8px; background-color: #000000; padding: 10px 14px; font-size: 16px; font-weight: 600; line-height: 1.75; color: #ffffff; box-shadow: 0 4px 6px -1px rgba(79, 70, 229, 0.1); transition: background-color 0.2s, box-shadow 0.2s;">Create a session</a>
                    <a href="#" style="margin-left: 24px; font-size: 16px; font-weight: 600; line-height: 1.5; color: #000000;">join a session →</a>
                </div>
            </div>
        </div>
        <div style="position: absolute; inset: 0; top: calc(100% - 208px); z-index: -10; overflow: hidden; filter: blur(20px);">
            <div style="position: relative; left: calc(50% + 48px); width: 290px; transform: translateX(-50%); background-image: linear-gradient(to top right, #ff80b5, #9089fc); opacity: 0.3; clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
        </div>
    </div>
</div>
