<div style="background-color: #ffffff; " >
    <div style="flex: 1;">
        <div style="background-color: #ffffff; position:absolute ">
            <img src="https://t3.ftcdn.net/jpg/00/32/82/92/360_F_32829239_f95uBxhCnFYU5TlYDjku991XFPWiFPvl.jpg" style="display: block; margin: 0 auto; max-width: 100%;" alt="Belote Game Image">
        </div>

    </div>
    <div style="position: relative; padding: 24px; padding-right: 32px;">
        <div style="position: absolute; inset: 0; top: -160px; z-index: -10; overflow: hidden; filter: blur(20px); transform: rotate(30deg);">
            <div style="position: relative; left: calc(50% - 110px); width: 290px; transform: translateX(-50%); background-image: linear-gradient(to top right, #ff80b5, #9089fc); opacity: 0.3; clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
        </div>
        <div style="margin: 0 auto; max-width: 640px; padding-top: 128px; padding-bottom: 192px;">
            <div style="text-align: center;">
                <h1 style="font-size: 2.5rem; font-weight: 700; letter-spacing: -0.025em; color: #012052; line-height: 1.25;">Belote Game</h1>
                <p style="margin-top: 24px; font-size: 1.5rem; line-height: 1.6; color: #070808;">You're about to play one of the most fabulous Games.</p>
                <div class="h-full bg-white">
                    <div class="form-container">
                        <div class="form-group">
                            <label for="username" style="font-size: 16px; font-weight: 600; line-height: 1.5; color: #012052;">Pseudo</label>
                            <input id="username" [(ngModel)]="username" type="text" required class="input-text">
                        </div>
                        <div class="form-group">
                            <button (click)="handleClick()">PLAY</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="position: absolute; inset: 0; top: calc(100% - 208px); z-index: -10; overflow: hidden; filter: blur(20px);">
            <div style="position: relative; left: calc(50% + 48px); width: 290px; transform: translateX(-50%); background-image: linear-gradient(to top right, #ff80b5, #9089fc); opacity: 0.3; clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
        </div>
    </div>
</div>
